

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-group {
   
}
.htmlm-group{
  text-align: center;
}

.form {
  background-color: rgb(212, 187, 118);
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius: 20 px;
  box-shadow:0 4px 10px 4px rgb(236, 138, 231);
  
}

.navbar navbar-expand-lg navbar-light bg-light {
  background-color: rgb(180, 215, 218);
  text-align: right;
}

.body {
  background-color: rgb(161, 127, 255);
}

.btn btn-primary {
  background-color: rgb(255, 0, 242);
  text-align: center;
}
